 * {
     padding: 0;
     margin: 0;
     box-sizing: border-box;
 }

 h1 {
     width: auto;
     height: 80px;
     background-color: gray;
     display: flex;
     flex-direction: column;
     align-items: center;
     font-size: 50px;
 }

 .primeirotexto {
     width: 1400px;
     background: rgb(186, 240, 186);
     border: 10px solid black;
     padding: 20px;
 }

 .foto {

     margin: 0 auto;

 }

 .primeiro {
     width: auto;
     background: yellow;
     text-align: center;
 }

 .text {
     display: flex;
     background-color: rgb(160, 160, 87);
     width: auto;
     font-size: medium;
     text-align: center;
 }

 .tag {
     width: 100%;

     background-color: aqua;

 }

 img {
     width: 20px;
     height: 20px;
     display: flex;
     gap: 15px;

 }

 .boxButton {

     background-color: gray;
     display: flex;
     justify-content: row;
     gap: 200px;
 }

 button {
     background-color: gray;
     gap: 40px;
     display: flex;
     border: none;
 }

 .foto {
     width: auto;
     height: auto;
     background-color: gray;
 }

 .text {
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     height: 50px;
     width: auto;
 }

 footer {

     background-color: gray;
     display: flex;
     flex-direction: row;
     justify-content: space-evenly;

 }

 article {
     display: flex;
     gap: 30px;
 }

 div {
     background-color: white;
     display: flex;
     flex-direction: row;
     justify-content: space-evenly;
 }

 .nav {
     font-size: large;
     background-color: rgb(116, 96, 96);
     display: flex;
     align-items: center;
     gap: 10px;
 }

 